.App {
  font-family: Arial, sans-serif;
  margin: 0; /* Remove margin to fit the full viewport height */
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Prevent the main page from scrolling */
}

.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000; /* Ensure it's above other content */
  padding: 0px;
  border-bottom: 1px solid #ccc;
}

.category-list {
  flex: 1;
  overflow-y: auto; /* Only the category list is scrollable */
  padding: 0px;
}

.category-list div {
  margin-bottom: 0px; /* Reduced from 10px to 5px */
}

button {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.category-name {
  min-width: 350px; /* Adjust this width according to the longest category name */
  display: inline-block;
}

.category-details {
  margin-left: 10px;
  display: inline-block;
  white-space: nowrap;
}

.category-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Add this line to adjust the margin */
}

.expand-icon {
  margin-right: 10px; /* Adjust this margin as needed */
}
